In [1]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [4]:
datafile = '../data/michelin_my_maps.csv'
mdf = pd.read_csv(datafile)
mdf = mdf.dropna(subset=['MinPrice','MaxPrice'])
mdf['MaxPrice'] = mdf['MaxPrice'].str.replace(',', '')
mdf['MaxPrice']=[int(m) for m in mdf['MaxPrice'].dropna()]
mdf['MinPrice'] = mdf['MinPrice'].str.replace(',', '')
mdf['MinPrice']=[int(m) for m in mdf['MinPrice'].dropna()]

#mdf['MaxPrice'] = mdf['MaxPrice'].astype('Float64', errors='raise')
# mdf['MinPrice'] = mdf['MinPrice'].str.replace(',', '')
# mdf['MinPrice'] = mdf['MinPrice'].astype('Int64', errors='ignore')
# mdf.dtypes
# mdf.iloc[0]['MinPrice']

##### What are the major currencies?

In [5]:
to_usd = {'EUR': 1.11, 'JPY':.0082, 'USD':1, 'GBP':1.31, 'CHF':1.08}
mdf.groupby('Currency', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Currency,Name,Address,Location,MinPrice,MaxPrice,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
5,EUR,3535,3535,3535,3535,3535,3535,3535,3535,3532,3535,3383,3535
11,JPY,843,843,843,843,843,843,843,843,815,843,408,843
21,USD,563,563,563,563,563,563,563,563,549,563,528,563
6,GBP,279,279,279,279,279,279,279,279,271,279,279,279
1,CHF,252,252,252,252,252,252,252,252,252,252,251,252
2,CNY,190,190,190,190,190,190,190,190,188,190,64,190
19,THB,165,165,165,165,165,165,165,165,165,165,53,165
7,HKD,135,135,135,135,135,135,135,135,134,135,82,135
20,TWD,124,124,124,124,124,124,124,124,111,124,51,124
18,SGD,118,118,118,118,118,118,118,118,69,118,64,118
12,KRW,91,91,91,91,91,91,91,91,90,91,25,91
0,BRL,53,53,53,53,53,53,53,53,53,53,41,53
4,DKK,42,42,42,42,42,42,42,42,41,42,42,42
17,SEK,31,31,31,31,31,31,31,31,31,31,31,31
8,HRK,23,23,23,23,23,23,23,23,23,23,20,23
13,MOP,22,22,22,22,22,22,22,22,22,22,17,22
14,NOK,13,13,13,13,13,13,13,13,12,13,13,13
9,HUF,7,7,7,7,7,7,7,7,7,7,7,7
3,CZK,7,7,7,7,7,7,7,7,7,7,7,7
15,PLN,6,6,6,6,6,6,6,6,6,6,6,6
16,RSD,1,1,1,1,1,1,1,1,1,1,1,1
10,ISK,1,1,1,1,1,1,1,1,1,1,1,1

#### What are the major cities?

In [6]:
mdf.groupby('Location', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Location,Name,Address,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
2403,Tokyo,430,430,430,430,430,430,430,430,414,430,240,430
1165,Kyoto,207,207,207,207,207,207,207,207,203,207,96,207
1714,Osaka,206,206,206,206,206,206,206,206,198,206,72,206
1623,New York,180,180,180,180,180,180,180,180,175,180,165,180
1760,Paris,159,159,159,159,159,159,159,159,159,159,155,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,Landéda,1,1,1,1,1,1,1,1,1,1,1,1
1231,Lanaye,1,1,1,1,1,1,1,1,1,1,1,1
1230,Lamporecchio,1,1,1,1,1,1,1,1,1,1,1,1
1229,Lamezia Terme,1,1,1,1,1,1,1,1,1,1,1,1
2714,Šentjanž,1,1,1,1,1,1,1,1,1,1,1,1

##### Parse out country information from the address field. What are the major countries?

In [7]:
mdf['Country']=[a.split(',')[-1].strip() for a in mdf['Address']]

mdf.groupby('Country', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Country,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
9,France,1119,1119,1119,1119,1119,1119,1119,1119,1119,1118,1119,1066,1119
17,Japan,843,843,843,843,843,843,843,843,843,815,843,408,843
16,Italy,628,628,628,628,628,628,628,628,628,628,628,586,628
10,Germany,623,623,623,623,623,623,623,623,623,622,623,620,623
36,United States,563,563,563,563,563,563,563,563,563,549,563,528,563
30,Spain,474,474,474,474,474,474,474,474,474,474,474,440,474
35,United Kingdom,279,279,279,279,279,279,279,279,279,271,279,279,279
2,Belgium,266,266,266,266,266,266,266,266,266,266,266,262,266
32,Switzerland,252,252,252,252,252,252,252,252,252,252,252,251,252
21,Netherlands,226,226,226,226,226,226,226,226,226,225,226,226,226
4,China Mainland,190,190,190,190,190,190,190,190,190,188,190,64,190
34,Thailand,165,165,165,165,165,165,165,165,165,165,165,53,165
12,Hong Kong,135,135,135,135,135,135,135,135,135,134,135,82,135
33,Taipei & Taichung,124,124,124,124,124,124,124,124,124,111,124,51,124
27,Singapore,118,118,118,118,118,118,118,118,118,69,118,64,118
29,South Korea,91,91,91,91,91,91,91,91,91,90,91,25,91
24,Portugal,69,69,69,69,69,69,69,69,69,69,69,56,69
3,Brazil,53,53,53,53,53,53,53,53,53,53,53,41,53
7,Denmark,42,42,42,42,42,42,42,42,42,41,42,42,42
15,Ireland,37,37,37,37,37,37,37,37,37,37,37,37,37
31,Sweden,31,31,31,31,31,31,31,31,31,31,31,31,31
1,Austria,30,30,30,30,30,30,30,30,30,30,30,29,30
5,Croatia,23,23,23,23,23,23,23,23,23,23,23,20,23
19,Macau,22,22,22,22,22,22,22,22,22,22,22,17,22
18,Luxembourg,20,20,20,20,20,20,20,20,20,20,20,20,20
28,Slovenia,13,13,13,13,13,13,13,13,13,13,13,12,13
22,Norway,13,13,13,13,13,13,13,13,13,12,13,13,13
20,Malta,9,9,9,9,9,9,9,9,9,9,9,9,9
11,Greece,9,9,9,9,9,9,9,9,9,9,9,8,9
8,Finland,9,9,9,9,9,9,9,9,9,9,9,9,9
13,Hungary,7,7,7,7,7,7,7,7,7,7,7,7,7
6,Czech Republic,7,7,7,7,7,7,7,7,7,7,7,7,7
23,Poland,6,6,6,6,6,6,6,6,6,6,6,6,6
0,Andorra,2,2,2,2,2,2,2,2,2,2,2,2,2
25,San Marino,1,1,1,1,1,1,1,1,1,1,1,1,1
26,Serbia,1,1,1,1,1,1,1,1,1,1,1,1,1
14,Iceland,1,1,1,1,1,1,1,1,1,1,1,1,1

In [10]:
cmdf = mdf[['Country','Name','Location','MinPrice','MaxPrice','Currency','Cuisine','Award']]
usdf = cmdf[cmdf['Country']=='United States']
usdf.groupby('Location', as_index=False).count().sort_values(by='Name', ascending=False)

,Location,Country,Name,MinPrice,MaxPrice,Currency,Cuisine,Award
53,New York,180,180,180,180,180,180,180
15,Chicago,77,77,77,77,77,77,77
90,Washington,59,59,59,59,59,59,59
72,San Francisco,52,52,52,52,52,52,52
42,Los Angeles,36,36,36,36,36,36,36
55,Oakland,11,11,11,11,11,11,11
71,San Diego,11,11,11,11,11,11,11
79,Santa Barbara,6,6,6,6,6,6,6
8,Beverly Hills,5,5,5,5,5,5,5
80,Santa Monica,5,5,5,5,5,5,5
2,Alhambra,4,4,4,4,4,4,4
69,Sacramento,4,4,4,4,4,4,4
93,Yountville,3,3,3,3,3,3,3
85,Sonoma,3,3,3,3,3,3,3
33,Healdsburg,3,3,3,3,3,3,3
17,Costa Mesa,3,3,3,3,3,3,3
43,Los Gatos,3,3,3,3,3,3,3
77,San Mateo,3,3,3,3,3,3,3
7,Berkeley,3,3,3,3,3,3,3
44,Manhattan Beach,2,2,2,2,2,2,2
70,San Anselmo,2,2,2,2,2,2,2
65,Rosemead,2,2,2,2,2,2,2
35,Hollywood,2,2,2,2,2,2,2
51,Napa,2,2,2,2,2,2,2
52,New Rochelle,2,2,2,2,2,2,2
59,Pasadena,2,2,2,2,2,2,2
74,San Jose,2,2,2,2,2,2,2
28,Garden Grove,2,2,2,2,2,2,2
58,Palo Alto,2,2,2,2,2,2,2
24,Elmsford,2,2,2,2,2,2,2
13,Carmel-by-the-Sea,2,2,2,2,2,2,2
84,Sebastopol,2,2,2,2,2,2,2
87,Temple City,2,2,2,2,2,2,2
12,Carlsbad,2,2,2,2,2,2,2
25,Encino,2,2,2,2,2,2,2
4,Arcadia,2,2,2,2,2,2,2
89,Village of Pelham,1,1,1,1,1,1,1
91,West Hollywood,1,1,1,1,1,1,1
60,Paso Robles,1,1,1,1,1,1,1
61,Petaluma,1,1,1,1,1,1,1
62,Pleasantville,1,1,1,1,1,1,1
63,Pomona,1,1,1,1,1,1,1
64,Redwood City,1,1,1,1,1,1,1
92,Woodside,1,1,1,1,1,1,1
88,Tustin,1,1,1,1,1,1,1
57,Orange,1,1,1,1,1,1,1
76,San Leandro,1,1,1,1,1,1,1
66,Roseville,1,1,1,1,1,1,1
67,Rutherford,1,1,1,1,1,1,1
68,Rye,1,1,1,1,1,1,1
83,Scarsdale,1,1,1,1,1,1,1
82,Sausalito,1,1,1,1,1,1,1
81,Saratoga,1,1,1,1,1,1,1
73,San Gabriel,1,1,1,1,1,1,1
78,Santa Ana,1,1,1,1,1,1,1
75,San Juan Capistrano,1,1,1,1,1,1,1
86,Tarrytown,1,1,1,1,1,1,1
0,Alameda,1,1,1,1,1,1,1
56,Oceanside,1,1,1,1,1,1,1
54,Newport Beach,1,1,1,1,1,1,1
26,Fairfax,1,1,1,1,1,1,1
23,Elk,1,1,1,1,1,1,1
22,El Monte,1,1,1,1,1,1,1
21,El Cerrito,1,1,1,1,1,1,1
20,Eastchester,1,1,1,1,1,1,1
19,Dobbs Ferry,1,1,1,1,1,1,1
18,Culver City,1,1,1,1,1,1,1
16,Corte Madera,1,1,1,1,1,1,1
14,Cerritos,1,1,1,1,1,1,1
11,Campbell,1,1,1,1,1,1,1
10,Burlingame,1,1,1,1,1,1,1
9,Bronxville,1,1,1,1,1,1,1
6,Bell Gardens,1,1,1,1,1,1,1
5,Atherton,1,1,1,1,1,1,1
3,Aptos,1,1,1,1,1,1,1
27,Fullerton,1,1,1,1,1,1,1
29,Glen Ellen,1,1,1,1,1,1,1
30,Glendale,1,1,1,1,1,1,1
41,Los Alamos,1,1,1,1,1,1,1
50,Mountain View,1,1,1,1,1,1,1
49,Mount Kisco,1,1,1,1,1,1,1
48,Monrovia,1,1,1,1,1,1,1
1,Albany,1,1,1,1,1,1,1
46,Menlo Park,1,1,1,1,1,1,1
45,Marshall,1,1,1,1,1,1,1
40,Livermore,1,1,1,1,1,1,1
31,Hastings-on-Hudson,1,1,1,1,1,1,1
39,Laguna Beach,1,1,1,1,1,1,1
38,Irvine,1,1,1,1,1,1,1
37,Inglewood,1,1,1,1,1,1,1
36,Huntington Beach,1,1,1,1,1,1,1
34,Hermosa Beach,1,1,1,1,1,1,1
32,Hayward,1,1,1,1,1,1,1
47,Mill Valley,1,1,1,1,1,1,1

In [11]:
location = 'Washington'
max = 500
usdf[usdf['Location']==location].groupby('Award').count()

,Country,Name,Location,MinPrice,MaxPrice,Currency,Cuisine
Award,,,,,,,
1 MICHELIN Star,19,19,19,19,19,19,19
2 MICHELIN Stars,3,3,3,3,3,3,3
3 MICHELIN Stars,1,1,1,1,1,1,1
Bib Gourmand,36,36,36,36,36,36,36

In [12]:
usdf[(usdf['Location']==location)&(usdf['MaxPrice']<max)].sort_values(by=['MinPrice', 'MaxPrice'], ascending=True).reset_index(drop=True)

,Country,Name,Location,MinPrice,MaxPrice,Currency,Cuisine,Award
0,United States,Ellē,Washington,13,85,USD,"Contemporary, Bakery",Bib Gourmand
1,United States,Bidwell,Washington,20,60,USD,"American, Contemporary",Bib Gourmand
2,United States,Timber Pizza Co,Washington,25,25,USD,Pizza,Bib Gourmand
3,United States,Toki Underground,Washington,25,25,USD,"Japanese, Ramen",Bib Gourmand
4,United States,Federalist Pig,Washington,25,45,USD,"Barbecue, American",Bib Gourmand
5,United States,Chercher,Washington,25,50,USD,"Ethiopian, Regional Cuisine",Bib Gourmand
6,United States,Das,Washington,25,50,USD,"Ethiopian, Regional Cuisine",Bib Gourmand
7,United States,Hitching Post,Washington,25,50,USD,"Southern, Regional Cuisine",Bib Gourmand
8,United States,Primrose,Washington,25,60,USD,French,Bib Gourmand
9,United States,Taqueria Habanero,Washington,30,30,USD,Mexican,Bib Gourmand
10,United States,Zenebech,Washington,30,44,USD,"Ethiopian, Regional Cuisine",Bib Gourmand
11,United States,Maketto,Washington,30,90,USD,Asian,Bib Gourmand
12,United States,Chloe,Washington,36,69,USD,"International, American",Bib Gourmand
13,United States,Stellina Pizzeria,Washington,38,38,USD,"Pizza, Italian",Bib Gourmand
14,United States,Residents Cafe & Bar,Washington,40,45,USD,Contemporary,Bib Gourmand
15,United States,The Dabney,Washington,50,50,USD,American,1 MICHELIN Star
16,United States,Tail Up Goat,Washington,50,50,USD,Contemporary,1 MICHELIN Star
17,United States,Thip Khao,Washington,50,50,USD,Lao,Bib Gourmand
18,United States,Fancy Radish,Washington,50,50,USD,"Vegan, Vegetarian",Bib Gourmand
19,United States,Pearl Dive Oyster Palace,Washington,50,50,USD,Southern,Bib Gourmand
20,United States,Unconventional Diner,Washington,50,50,USD,American,Bib Gourmand
21,United States,Jaleo,Washington,50,50,USD,Spanish,Bib Gourmand
22,United States,Ivy MTP.City Smokehouse,Washington,50,50,USD,"Seafood, American",Bib Gourmand
23,United States,Laos in Town,Washington,50,50,USD,"South East Asian, Lao",Bib Gourmand
24,United States,Sfoglina,Washington,50,50,USD,Italian,Bib Gourmand
25,United States,Kaliwa,Washington,50,50,USD,"Asian, South East Asian",Bib Gourmand
26,United States,Cane,Washington,50,50,USD,"Caribbean, Regional Cuisine",Bib Gourmand
27,United States,Sababa,Washington,50,50,USD,Mediterranean Cuisine,Bib Gourmand
28,United States,The Red Hen,Washington,50,50,USD,Italian,Bib Gourmand
29,United States,Zaytinya,Washington,50,50,USD,Mediterranean Cuisine,Bib Gourmand
30,United States,Ottoman Taverna,Washington,50,50,USD,Turkish,Bib Gourmand
31,United States,Queen’s English,Washington,50,50,USD,"Chinese, Contemporary",Bib Gourmand
32,United States,Makan,Washington,50,50,USD,Malaysian,Bib Gourmand
33,United States,Oyamel,Washington,50,55,USD,Mexican,Bib Gourmand
34,United States,China Chilcano,Washington,50,65,USD,"Peruvian, South American",Bib Gourmand
35,United States,Karma Modern Indian,Washington,50,75,USD,"Indian, Contemporary",Bib Gourmand
36,United States,Lapis,Washington,60,60,USD,Afghan,Bib Gourmand
37,United States,Astoria DC,Washington,60,80,USD,"Asian, Sichuan",Bib Gourmand
38,United States,Cranes,Washington,60,100,USD,"Spanish, Contemporary",1 MICHELIN Star
39,United States,Xiquet,Washington,60,130,USD,Spanish,1 MICHELIN Star
40,United States,Rooster & Owl,Washington,65,65,USD,"Contemporary, Fusion",1 MICHELIN Star
41,United States,Maydān,Washington,65,75,USD,"Middle Eastern, Grills",1 MICHELIN Star
42,United States,Rose’s Luxury,Washington,75,85,USD,Contemporary,1 MICHELIN Star
43,United States,Gravitas,Washington,80,150,USD,"Contemporary, American",1 MICHELIN Star
44,United States,Bresca,Washington,84,130,USD,"Contemporary, American",1 MICHELIN Star
45,United States,Little Pearl,Washington,85,85,USD,Contemporary,1 MICHELIN Star
46,United States,Plume,Washington,106,120,USD,"European, French",1 MICHELIN Star
47,United States,Sushi Nakazawa,Washington,120,150,USD,"Japanese, Sushi",1 MICHELIN Star
48,United States,Kinship,Washington,145,145,USD,"Contemporary, French Contemporary",1 MICHELIN Star
49,United States,Fiola,Washington,150,225,USD,"Italian, Contemporary",1 MICHELIN Star
50,United States,Pineapple and Pearls,Washington,150,325,USD,Contemporary,2 MICHELIN Stars
51,United States,Komi,Washington,165,165,USD,Mediterranean Cuisine,1 MICHELIN Star
52,United States,Masseria,Washington,168,350,USD,"Italian, Regional Cuisine",1 MICHELIN Star
53,United States,Elcielo D.C.,Washington,195,228,USD,"Colombian, Contemporary",1 MICHELIN Star
54,United States,Métier,Washington,200,255,USD,"Contemporary, Modern French",1 MICHELIN Star
55,United States,The Inn at Little Washington,Washington,238,238,USD,"American, French",3 MICHELIN Stars
56,United States,minibar,Washington,295,295,USD,Contemporary,2 MICHELIN Stars
57,United States,Sushi Taro,Washington,300,300,USD,"Japanese, Seasonal Cuisine",1 MICHELIN Star
58,United States,Jônt,Washington,305,305,USD,Contemporary,2 MICHELIN Stars

In [17]:
gdf = cmdf[cmdf['Country']=='Germany'].sort_values(by=['MinPrice', 'MaxPrice'], ascending=True).reset_index(drop=True)
gdf = gdf[['Name', 'Location', 'MinPrice', 'MaxPrice', 'Cuisine', 'Award']]
gdf.to_csv('bandyts_michelin.csv')